body {
  background-color: DeepSkyBlue;
  font-family: "Helvetica", sans-serif;
  color: Purple;
}
h1 {
  color: orange;
  font-family: "Times New Roman", serif;
}
h2 {
  font-family: "Times New Roman", serif;
}
h3 {
  font-style: italic;
}
a {
  color: PaleTurquoise;
}
nav ul {
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}
nav ul li a {
  text-decoration: none;
  color: Brown;
}
nav ul li a:hover {
  animation: rainbowGlow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
img {
  border-radius: 30px;
  border: 2px solid white;
}
img:hover {
  border: 2px dashed navy;
  animation-name: rollOver;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

/**********************************
This section is for class stylling
***********************************/
.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F5FFFA;
  padding-bottom: 10px;
}

.stylishBox {
  background-color: #87CEFA;
  color: #A52A2A;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}

.someSpacing {
  padding: 10px;
  margin-top: 20px;
}

.smallPictures {
  width: 100px;
}

.mediumPictures {
  width: 100%;
  border-radius: 100%;
  animation-name: myFirstAnimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.niceLinks {
  text-decoration: none;
  color: #FFFAF0;
}
.niceLinks:hover {
  color: #00ff7f;
  animation-duration: 2s;
  animation-name: rainbowGlow;
  animation-iteration-count: infinite;
}

#irelandDescription {
  color: #003366;
  border: 2px ridge #ccffff;
  padding: 15px;
  text-align: center;
  background-color: #660066;
  animation-name: rainbowGlow;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

#frontPage {
  background: #48D1CC;
  background: linear-gradient(#fea3aa, #f8b88b, #faf884, #baed91, #baed91, #b2cefe, #f2a2e8, #fea3aa);
  background-size: 600w 600vw;
  animation: slide 10s infinite linear forwards;
}

/**********************************
This section is for keyframes
***********************************/
@keyframes myFirstAnimation {
  from {
      width: 100px;
  }
  to {
      width: 300px;
  }
}

@keyframes rainbowGlow {
  0% {
      color: #FFD700;
  }
  25% {
      color: #FAF787;
  }
  50% {
      color: #663399;
  }
  75% {
      color: #eeef7f;
  }
  100% {
      color: #FFD700;
  }
}

@keyframes rollOver {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/